@import './base.css';

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.site-content {
  margin-top: 80px;
  position: relative;
  z-index: 1;
}

h1 {  color: #333;; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }

h2 { color: #555; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center; }

p { color: #777;; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }

section {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#social-media{
  background-color: #e1b9f9c9;
 border-radius: 10px;
 padding: 30px;
 margin-bottom: 30px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  color: #333;; font-family: 'Raleway',sans-serif;
 
}

#values, #contact{
  color: #777;
  font-family: 'Raleway',sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.team-member img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#contact ul li,
#social-media ul li {
  font-size: 16px;
}

#social-media ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

#social-media ul li a:hover {
  color: #777;
}

table {
  width: 100%;
  table-layout: fixed;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  margin-top: 10px;
  max-height: calc(100vh - 100px); /* Adjust the max height as needed */
}
.fl-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .fl-table th {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .fl-table th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    min-width: auto; /* Reset min-width for the first column */
  
  }
  
  .fl-table th.hour {
    min-width: auto; /* Reset min-width for the hour column */
  }
  
  .fl-table thead th {
    /* Adjust styles for the header row cells */
    background-color: #08060b6f;
  }
  
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 200;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* Gradient background */
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.hour {
  width: 9%;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navigation-buttons button {
  padding: 8px 16px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}

.week-navigation{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.left-button {
  position: absolute;
  left: 0;
}

.right-button {
  position: absolute;
  right: 0;
}
.event {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 10px;
  cursor: pointer;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
}

.hour {
  width: 9%;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0b65a1;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.popup-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.popup {
  background-color: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(209, 17, 17);
  font-size: 19px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-button:hover {
  transform: scale(1.1);
}



label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="color"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-edit {
  background-color: #007bff;
  color: #fff;
}

.btn-delete {
  background-color: #dc3545;
  color: #fff;
}

.btn-create {
  background-color: #1797ba;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}

.login-button{
  background-color: #918e8e;
  color: #000000;
}



.completeLoginButton{
  display: inline-block;
  padding: 1px 8px;
  background-color: #6cb1df;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

td:hover {
  background-color: rgb(225, 182, 218); /* Background color on hover for the specific cell */
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px; /* Reduced height */
  background-color: #000000;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
  margin-right: 10px; /* Reduced margin */
}

.logo img {
  max-height: 100%; /* Ensure the logo stays within the container */
  width: auto;
  max-width: 100%; /* Adjusted max-width */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 100px); /* Adjusted width */
  margin: 0 auto; /* Center the menu horizontally */
}

.menu-content {
  margin-top: 15px; /* Adjust the top margin as needed */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #dbd9d9;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease; /* Transition for color and background-color */
  white-space: nowrap;
}

nav ul li a:hover {
  background-color: rgb(160, 101, 212);
  color: #000000; /* Change text color on hover */
  transform: scale(1.1); /* Scale effect on hover */
}

nav ul li ul {
  display: none;
  position: absolute;
  top: calc(100% + 5px); /* Adjusted top position with 5px of space */
  left: 0;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
}

nav ul li ul li {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

nav ul li ul li a {
  color: #000000;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
  white-space: nowrap;
}

nav ul li ul li a:hover {
  background-color: #f0f0f0;
}

nav ul li:hover ul {
  display: block;
}



.right-menu li {
  margin-left: 15px;
}

.login-btn {
  color: #ffffff;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  nav ul li a {
    padding: 10px 10px; /* Adjusted padding for smaller screens */
  }
}



.login-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.form-container {
  max-width: 200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add padding for spacing */
  margin-top: 50px; /* Adjust vertical spacing */
}

.current-date {
  background-color: rgba(156, 209, 227, 0.365); /* You can adjust the background color */
}

.page-container {
  display: flex;
}

.calendar-overlay {
  position: fixed; /* Position the calendar relative to the viewport */
  top: 0; /* Align the calendar to the top of the viewport */
  left: 0; /* Align the calendar to the left of the viewport */
  width: 100%; /* Make the calendar take the full width of the viewport */
  height: 100%; /* Make the calendar take the full height of the viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Ensure the calendar appears above other content */
  overflow-y: auto; /* Allow vertical scrolling */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center the calendar horizontally */
  align-items: center; /* Center the calendar vertically */
}

.real-time-calendar {
  background-color: #08060b6f;
  padding: 10px; /* Decrease padding for a shorter appearance */
  border-radius: 5px;
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
  width: 100%; /* Take full width */
  max-width: 500px; /* Increase maximum width */
  height: auto; /* Let the height adjust based on content */
  position: relative; /* Ensure relative positioning for absolute child elements */
}

.monthDisplay {  color: #333;; font-family: 'Raleway',sans-serif; font-size: 50px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }


.close-calendar {
  position: absolute; /* Position the close button absolutely */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  background: none; /* Transparent background */
  border: none; /* No border */
  color: white; /* Text color */
  font-size: 24px; /* Font size */
  cursor: pointer; /* Cursor style */
  transition: transform 0.3s ease; /* Add transition effect */
}

.close-calendar:hover {
  transform: scale(1.2); /* Scale up the button on hover */
}

.close-calendar::before,
.close-calendar::after {
  content: 'X'; /* Content for the before and after pseudo-elements */
  position: absolute; /* Position them absolutely */
  top: 50%; /* Align them vertically */
  left: 50%; /* Align them horizontally */
  transform: translate(-50%, -50%); /* Center them properly */
  font-size: 24px; /* Font size */
}

.close-calendar:focus {
  outline: none; /* Remove outline on focus */
}

.calendar-container {
  width: 400px; /* Increase width */
  margin-right: 50px; /* Decrease margin for a shorter appearance */
}

.bi-calendar {
  width: 1.5em;
  height: 1.5em;
}

.current-day {
  background-color: lightblue;
}

.event-objects {
  position: relative; /* Ensure relative positioning for absolute positioning inside */
}

.event-object {
  position: absolute;
  border: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  z-index: 2; /* Ensure event objects are displayed on top of the table */
  background-color: white; /* Set background color to white */
}

.table-wrapper {
  position: relative; /* Ensure relative positioning for absolute positioning inside */
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

body{
  color: #8e9194;
  background-color: #f4f6f9;
}
.avatar-xl img {
  width: 110px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.text-muted {
  color: #aeb0b4 !important;
}
.text-muted {
  font-weight: 300;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d5154;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #eef0f3;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.h2 set{
  color:#d2deea
}

.event-cell {
  background-color: #a715b84f; /* Default background color for event cells */
  text-align: center;
  font-size: 14px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
